<form action="http://localhost:8080/api/signup" method="post">

  <input type="text" name="first_name" placeholder="first_name" />
  <input type="text" name="last_name" placeholder="last_name" />
  <input type="text" name="email" placeholder="email" />
  <input type="number" name="age" placeholder="age" />
  <input type="text" name="password" placeholder="password" />

  <button value="submit">Register</button>

  {{#if errorMessage}}
    <div class="error-message">{{errorMessage}}</div>
  {{/if}}

</form>