<h1>Hello! Reset your password</h1>

<form action="http://localhost:8080/api/confirmpassword" method="post">

  <input type="text" name="email" placeholder="email" />
  <input type="text" name="password" placeholder="password" />

  <button value="submit">Reset</button>

  {{#if errorMessage}}
    <div class="error-message">{{errorMessage}}</div>
  {{/if}}

</form>