<form action="http://localhost:8080/api/login" method="post">

  <input type="text" name="email" placeholder="email" />
  <input type="text" name="password" placeholder="password" />

  <button value="submit">Login</button>

  <a href="http://localhost:8080/api/github">Login with Github</a>

  {{#if errorMessage}}
    <div class="error-message">{{errorMessage}}</div>
  {{/if}}

</form>